:root {
  --padding-main: 2rem;
  --padding-footer: 4.5rem;
  --background-color: #1a1b21;
  --gold: #f3bf99;
  --gold-shadow: #f3bf9952;
  --title-white: #ffffff;
  --heading-white: #f5f5f5;
  --content-white: #dcdcdc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #23252c;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  background-color: #1a1b21;
  width: 20rem;
  height: auto;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0rem 0rem 1.5rem var(--gold-shadow);
}

h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1,
h2 {
  color: var(--heading-white);
}

p,
li {
  color: var(--content-white);
  font-size: 1.2rem;
}

.header-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prof-title {
  color: var(--gold);
  font-size: 1rem;
}

.email {
  font-size: 0.8rem;
}

.header-bottom {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.header-image {
  width: 100%;
}

.header-button {
  margin-top: 1rem;
  min-width: 7.5rem;
  height: 2rem;
  padding: 0.5rem 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.header-button > svg {
  width: 1.2rem;
}

.header-button > p {
  font-weight: 600;
  font-size: 1rem;
}

.header-button.mail {
  background-color: var(--heading-white);
}

.header-button.mail > p {
  color: var(--background-color);
}

.header-button.linkedin {
  background-color: #0076b2;
}

.about {
  padding-left: var(--padding-main);
  padding-right: var(--padding-main);
  margin-top: 2rem;
}

.about > p {
  margin-top: 1rem;
}

.interests {
  padding-left: var(--padding-main);
  padding-right: var(--padding-main);
  margin-top: 2rem;
}

.interests > ul {
  margin-top: 1rem;
}

li::marker {
  color: var(--gold);
  font-size: 1.2rem;
}

footer {
  margin-top: 2rem;
  height: 4rem;
  background-color: #161619;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon {
  width: 2.5rem;
  color: var(--content-white);
  transition: 200ms;
}

.footer-icon:hover {
  transform: rotate(360deg);
}
